<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unitn.disi.lpsmt.happypuppy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- todo REMOVE android:usesCleartextTraffic -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">

        <!-- Google Maps Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.SignIn" />
        <activity android:name=".ui.auth.SignUp" />
        <activity android:name=".ui.HomePage" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.profile.puppy.RegisterPuppy" />
        <activity android:name=".ui.auth.ForgotPassword" />
        <activity android:name=".ui.auth.ActivateProfile" />
        <activity android:name=".ui.profile.user.ProfileUser" />
        <activity android:name=".ui.profile.puppy.ProfilePuppy" />
        <activity android:name=".ui.profile.user.EditUser" />
        <activity android:name=".ui.profile.puppy.ListPuppy" />
        <activity android:name=".ui.profile.puppy.EditPuppy" />
    </application>

</manifest>